.sec-HomeResponsive { 
    background: url("../../../images/responsive_sec.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 0 0;
    margin-top: 100px;
    color: #fff;
    .title {
        .res-title-bold {
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            font-size: 22px;
        }
        .res-title-normal {
            text-align: center;
            text-transform: uppercase;
            font-size: 28px;
            line-height: 1.2;
            font-weight: 300;
        }
    }
    .bx-home-responsive {
        display: flex;
        justify-content: space-between;
        margin-top: 36px;
        gap: 24px;
        ul {
            li {
                margin-top: 64px;
                .bx-itemResponsive {
                    display: flex;
                    gap: 24px;
                }
                .icon-itemResponsive {
                    font-size: 28px;
                }
            }
        }
    }
}

// === Responsive === //
@media (max-width:768px){
    .sec-HomeResponsive .bx-home-responsive {
        flex-wrap: wrap;
        margin-top: 7px;
    }
    .img-home-responsive {
        img {
            width: 100%;
        }
    }
    .sec-HomeResponsive .bx-home-responsive ul li { 
        margin-top: 24px;
    }
    .sec-HomeResponsive {
        padding: 50px 0 50px;
        margin-top: 60px;
    }
    .sec-HomeResponsive .title .res-title-normal {
        font-size: 16px;
    }
}