.sec-HomeOurProcess {
    padding: 80px 0;
    background: #eeeeee;
    .bx-HomeOurProcess {
        margin-top: 48px;
        ul {
            display: flex;
            justify-content: space-between;
            gap: 36px;
            text-align: center;
            li {
                .bx-item-ourProcess {
                    position: relative;
                    background: #fff;
                    border-radius: 36px 4px 36px 4px;
                    box-shadow: 0 2px 6px 5px #d5d5d5;
                    padding: 26px;
                    text-align: center;
                    border-right: 5px solid #cdcdcd;
                    &::after {
                        position: absolute;
                        content: " ";
                        right: -32px;
                        top: 35%;
                        background-image: url('../../../images/process-indicate.png');
                        width: 36px;
                        height: 80px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }
                    .icon {
                        margin: 0 auto;
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        background: #e5a800;
                        font-size: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                    }
                    .title {
                        font-weight: bold;
                        color: #474747;
                        font-size: 16px;
                        text-transform: uppercase;
                        margin-top: 16px;
                    }
                    .text {
                        font-size: 13px;
                        color: #616161;
                        margin-bottom: 0;
                        width: 100%;
                        line-height: 1.6;
                        margin-top: 4px;
                    }
                    .option {                        
                        font-weight: bold;
                        color: #00c2e5;
                        font-size: 14px;
                        text-transform: uppercase;                        
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}