body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.bg-Startsyourproject {
    img {
        width: 100%;
    }
}
.sec-Startsyourproject {
    position: relative;
    text-align: center;
    .content-Startsyourproject {
        position: absolute;
        left: 0;
        right: 0;
        top:20%;
        height: auto;
        .bigtitle {
            font-size: 50px;
            line-height: 1.16;
            margin-bottom: 12px;
            letter-spacing: -1px;
        }
        .text {
            margin: 0 0 20px 0;
            color: #616161;
            font-size: 14px;
            line-height: 1.8;
        }
        .btnsyp {
            a {
                background-color: #00c2e5;
                border-radius: 3px;
                color: #fff;
                display: inline-block;
                font-family: 'Poppins','Open Sans', Helvetica, Arial, sans-serif;
                font-size: 12px;
                letter-spacing: 1px;
                line-height: 1.5;
                text-transform: uppercase;
                font-weight: 600;
                text-decoration: none;
                cursor: pointer;
                margin-bottom: 21px;
                margin-right: 10px;
                line-height: 1;
                padding: 18px 20px 16px;
                background: #39c36e;
            }
        }
    }
}

//=== Responsive ===//
@media (max-width: 768px){
    .Startsyourproject, .bg-Startsyourproject img {
        min-height: 300px;
    }
    .bg-Startsyourproject img {
        width: 100%;
        opacity: .2;
    }
    .sec-Startsyourproject .content-Startsyourproject .bigtitle {
        font-size: 36px;
        font-weight: 500;
    }
    .sec-Startsyourproject .content-Startsyourproject {
        top: 14%;
    }
}